* { background-color: #ffce1a;}



p { font-family: 'helvetica', sans-serif, bold;

	
	}
	
	a {background: white; 
		font-family: 'Anton', sans-serif, bold;
		text-align: center;
		text-decoration: none;
		color: black;
		padding: 40px;
		position: fixed; 
			
	}
	
a:hover {color: #ffce1a;
		background: black; }
		
#location a {margin-top: 20%;
			margin-left:17%;

		width: 50%;
			}	